#!/usr/bin/expect -f
set timeout 2000
spawn /tmp/incinstall-linux64.sh
expect "OK \\\[o, Enter\\\], Cancel \\\[c\\\]"
send "\r"
expect "\\\[/opt/incontrol\\\]"
send "\r"
expect "Yes \\\[y, Enter\\\], No \\\[n\\\]"
send "\r"
expect "Agent Only \\\[3\\\]"
send "\r"
expect "Please enter a comma-separated list of the selected values or \\\[Enter\\\] for the default selection:"
send "1,2\r"
expect "License Key:\r[]"
send "{{ license_key }}\r"
expect "Yes \\\[y\\\], No \\\[n\\\]"
send "n\r"
expect "Yes \\\[y\\\], No \\\[n\\\]"
send "n\r"
expect "\\\[{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}\\\]"
send "\r"
expect "\\\[\\\]"
send "\r"
expect "\\\[incadmin\\\]"
send "\r"
expect "\\\[incontrol\\\]"
send "\r"
expect "No \\\[1\\\], Yes \\\[2, Enter\\\]"
send "\r"
expect "No \\\[1\\\], Yes \\\[2, Enter\\\]"
send "\r"
expect "No \\\[1\\\], Yes \\\[2, Enter\\\]"
send "\r"
expect "No \\\[1\\\], Yes \\\[2, Enter\\\]"
send "\r"
expect "No \\\[1, Enter\\\], Yes \\\[2\\\]"
send "\r"
expect "No \\\[1, Enter\\\], Yes \\\[2\\\]"
send "\r"
expect "Yes \\\[y, Enter\\\], No \\\[n\\\]"
send "\r"
expect eof
